@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        @*<table>
                <tr>
                    <td>First Name: </td>
                    <td><input type="text" id="txtFirstName" name="FirstName" /></td>
                </tr>
                <tr>
                    <td>Last Name: </td>
                    <td><input type="text" id="txtLastName" name="LastName" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>*@

        <table>
            <tr>
                <td><label for="start" style="align-content:center">Please enter date :</label> </td>
                <td>
                    <input type="date" id="dtpStartDate" name="StartDate"
                           value="2021-12-15"> 
                </td>
            </tr>
            <tr>
                <td><label for="quantity">Please enter number you want to add in date :</label> </td>
                <td><input type="number" id="NoOfDays" name="NoOfDays" maxlength="2"> </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add Days" /></td>
            </tr>
        </table>

        <hr />
        @ViewBag.Name
    </form>
</body>
</html>
